{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'lib/login/css/mdb.rtl.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/login/css/mdb.dark.min' %}" />
    <link rel="stylesheet" href="{% static 'lib/login/css/bootstrap.min.css' %}" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lib/login/css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">
    <link href="{% static 'lib/fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'lib/fontawesome/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'lib/fontawesome/css/solid.css' %}" rel="stylesheet">
</head>
<body>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-4">
        <img src="{% static 'lib/login/img/Hospital Básico del Oro.png' %}" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

         <form method="POST" action=""  autocomplete="off" >
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title" class="text-center">
                    <i class="fas fa-plus"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form|crispy}}
                <input type="submit" class="btn btn-info btn-block mb-3" value="{{ title }}">
            </div>
            <div class="card-footer">
                 <div class="text-center">
                <p>or ...</p>
                <a href="{% url 'hospU:login' %}" class="btn btn-success">Login</a>
              </div>
            </div>
        </div>
    </form>

      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright ©  All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>


</body>

</html>